#header {
	background: $white;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	z-index: 99;
	@include media ('>=phone') {
		padding-left: 0;
		padding-right: 0;
	}
	@include media ('>=desktop') {
		// padding: 12px 0 11px;
		padding: 0;
	}
	@include media ('>=widescreen') {
		// padding: 18px 0 16px;
	}
	&.with-border {
		border-bottom: 1px solid $gray-300;
	}

	&.login-page {
		background: none;
		padding: 18px 0 16px;
		@include media ('<tablet') {
			padding: 5px 0;
		}
		.container {
			@include media ('<tablet') {
				max-width: none;
			}
			@include media ('>=desktop') {
				padding-top: 0;
				padding-bottom: 0;
			}
			@include media ('>=widescreen') {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.profile-name {
			@include media ('<phone') {
				margin-top: -18px;
			}
		}
		.btn {
			min-width: 0;
			@include font-size(13, 18);
			font-weight: 600;
			padding: 5px 12px 7px;
			border-radius: 8px;
			margin-left: 20px;
			@include media ('>=phone') {
				order: 3;
			}
		}
		.btn-default {
			border-color: rgba($white, 0.6);
			color: $white;
			&:hover {
				border-color: $white;
			}
		}
		.right-nav {
			@include media ('>=phone') {
				padding-bottom: 3px;
			}
			@include media ('<phone') {
				width: 100%;
				padding-top: 15px;
			}
			ul {
				@extend %listreset;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				@include media ('<phone') {
					justify-content: center;
				}
				li {
					padding: 0 10px;
					@include font-size(16, 20);
					a {
						color: $white;
						font-weight: 600;
						i {
							font-size: 18px;
							line-height: 1;
							margin: 5px 7px 0 0;
							&.icon-encounters {
								font-size: 17px;
							}
						}
						&:not(.btn) {
							display: flex;
							align-items: center;
							position: relative;
							&:before {
								content: '';
								position: absolute;
								top: -3px;
								left: -10px;
								// width: 100%;
								// height: 100%;
								right: -10px;
								bottom: -7px;
								padding: 5px 10px;
								border-radius: 8px;
							}
							&:hover {
								&:before {
									background: rgba($black, 0.08);
								}
							}
						}
					}
				}
			}
		}
	}

	.container, .container-fluid {
		position: relative;
		@include media ('>=desktop') {
			padding-top: 12px;
			padding-bottom: 11px;
		}
		@include media ('>=widescreen') {
			padding-top: 8px;
			padding-bottom: 6px;
		}
		@include media ('<desktop') {
			max-width: none;
		}
	}

}

.profile-drop {
	position: absolute;
	top: 100%;
	right: 0;
	display: none;
	@include media ('>=phone') {
		right: 10px;
	}
	@include media ('>=desktop') {
		right: 0;
	}
	@include media ('>=1100px') {
		right: -46px;
	}
	.drop-active & {
		display: block;
	}
	&:before {
		content: '';
		position: absolute;
		top: -5px;
		right: 9px;
		background: $white;
		border: 1px solid #b9bec1;
		border-bottom: none;
		border-right: none;
		width: 10px;
		height: 10px;
		transform: rotate(45deg);
		@include media ('>=480px') {
			width: 15px;
			height: 15px;
			top: -7px;
			right: 12px;
		}
		@include media ('>=desktop') {
			right: 22px;
		}
		@include media ('>=1100px') {
			right: 65px;
		}
	}
	>ul {
		@extend %listreset;
		width: 215px;
		background: $white;
		border: 1px solid #b9bec1;
		border-radius: 5px;
		>li {
			@include font-size(14, 18);
			&+li {
				border-top: 1px solid #e1e8ed;
			}
			>a {
				display: block;
				color: #292f33;
				position: relative;
				padding: 11px 47px 15px;
				&:hover {
					color: #00aff0;
					.icon {
						color: #292f33;
					}
				}
				.icon {
					font-size: 20px;
					line-height: 1;
					text-align: center;
					width: 28px;
					position: absolute;
					top: 50%;
					left: 15px;
					transform: translateY(-50%);
				}
			}
		}
	}
}

.dropdown-menu {
	&.menu-drop {
		// min-width: 200px;
		margin-top: 0;
		right: 0;
		left: auto;
		// background: $gray-300;
		// border-color: $white;
		border: none;
		border-radius: 0;
		box-shadow: 0 5px 10px 0 rgba($black, 0.1);
		.nav-active & {
			display: block;
		}
		>ul {
			@extend %listreset;
			>li {
				@include font-size(18, 22);
				>a {
					display: block;
					padding: 5px 15px;
					color: $gray-700;
					&:hover {
						background: $gray-700;
						color: $white;
					}
				}
			}
		}
	}
}

.menu-opener {
	position: absolute;
	top: 0;
	left: -12px;
	bottom: 0;
	margin: auto;
	width:50px;
	height:35px;
	// background:rgba(0, 0, 0, .5);
	// border-radius:3px;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 1;
	@include media ('>=480px') {
		left: 2px;
	}
	@include media ('>=phone') {
		left: 5px;
	}
	@include media ('>=widescreen') {
		left: 25px;
	}
	&:before,
	&:after,
	span {
		background: $gray-600;
		// border-radius:4px;
		position:absolute;
		top:50%;
		left:25%;
		right:25%;
		height:2px;
		margin-top:-2px; /* height/2 */
		transition:all 0.2s linear;
	}
	&:before,
	&:after {
		content:'';
		top:30%;
		.active & {
			-moz-transform:rotate(45deg);
			-webkit-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			transform:rotate(45deg);
			top:50%;
			left:15%;
			right:15%;
		}
	}
	&:after {
		top:70%;
		.active & {
			-moz-transform:rotate(-45deg);
			-webkit-transform:rotate(-45deg);
			-ms-transform:rotate(-45deg);
			transform:rotate(-45deg);
		}
	}
	/* close button transition */
	span {
		.active & {
			opacity:0;
		}
	}
	&:hover {
		&:before,
		&:after,
		span {
			background: $gray-900;
		}
	}
}

.menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba($black, 0.5);
	opacity: 0;
	pointer-events: none;
	@include animate(opacity);
	z-index: 991;
	.sidebar-active & {
		opacity: 1;
	}
}

.sidebar-nav {
	background: #f5f5f5;
	width: 240px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 12px 0;
	z-index: 992;
	// opacity: 0.5;
	transform: translateX(-100%);
	@include animate(transform);
	@include media ('<desktop') {
		padding: 0;
	}
	.sidebar-active & {
		transform: translateX(0);
	}
	.top-sidebar {
		position: relative;
		// display: flex;
		padding: 0 14px;
		display: none;
		@include media ('<desktop') {
			display: flex;
		}
		@include media ('<phone') {
			padding: 0 24px;
		}
		.menu-opener {
			@include media ('<desktop') {
				margin: 0;
				top: 17px;
				bottom: auto;
			}
			@include media ('<tablet') {
				// top: 21px;
				left: 5px;
			}
			@include media ('<phone') {
				top: 14px;
				left: 12px;
			}
			@include media ('<480px') {
				top: 10px;
				left: -2px;
			}
		}
		// .profile-name {
		// 	@include media ('<tablet') {
		// 		padding-left: 32px;
		// 	}
		// }
	}
	>ul {
		@extend %listreset;
		@include media ('<desktop') {
			padding: 9px 0;
		}
		>li {
			@include font-size(14, 18);
			>a {
				display: block;
				color: #111;
				padding: 11px 24px;
				&:hover {
					background: rgba($black, 0.04);
				}
			}
			&.active {
				>a {
					// @extend a:hover;
					background: rgba($black, 0.1);
					font-weight: 600;
				}
			}
		}
	}
}

.profile-name {
	font: bold 25px/1.2 $font-family-serif;
	margin-top: -3px;
	// padding-left: 30px;
	transform: skew(-5deg);

	@include media ('>=480px') {
		margin-top: -11px;
		// padding-left: 9px;
		// padding-left: 50px;
		font-size: 35px;
	}

	@include media ('>=phone') {
		margin-top: -8px;
		// font-size: 60px;
		// margin-top: -23px;
		padding-left: 20px;
	}

	@include media ('>=desktop') {
		margin-top: -24px;
		// padding-left: 21px;
		font-size: 38px;
		
	}
	@include media ('>=widescreen') {
		margin-top: -26px;
		font-size: 51px;
		padding-left: 96px;
	}

	.first-letter {
		display: inline-block;
		vertical-align: bottom;
		// font-size: 45px;
		font-size: 1.2857em;

		@include media ('>=phone') {
			// font-size: 70px;
			font-size: 1.1667em;
		}

		@include media ('>=desktop') {
			// font-size: 65px;
			font-size: 1.25em;
		}
		@include media ('>=widescreen') {
			// font-size: 75px;
			font-size: 1.1538em;
		}
	}
	a {
		display: block;
		color: $black;
	}
}

.search-form {
	.form-group {
		margin-bottom: 0;
		flex-grow: 0;
		flex-shrink: 0;
		position: relative;

		&.child-input-focused {
			i {
				left: 10px;
			}
			.form-control {
				background: $white;
				text-align: left;
			}
		}

		i {
			font-size: 10px;
			color: #b2b4b7;
			position: absolute;
			top: 12px;
			left: 80px;
			pointer-events: none;
			@include media ('>=widescreen') {
				font-size: 11px;
				top: 12px;
				left: 94px;
			}
		}
		.form-control {
			font-size: 16px;
			line-height: 1.29;
			font-weight: 300;
			width: 228px;
			height: 30px;
			padding: 5px 21px 5px 26px;
			text-align: center;
			@include media ('>=widescreen') {
				font-size: 14px;
				width: 269px;
				height: 33px;
				padding: 5px 21px 5px 30px;
			}
			@include placeholder {
				color: #999;
			}
		}
	}
}
#nav {
	display: flex;
	@include media ('>=desktop') {
		display: block;
		padding-left: 59px;
	}
	@include media ('>=widescreen') {
		padding-left: 70px;
	}
	>ul {
		@extend %listreset;
		display: flex;
		justify-content: flex-end;
		flex-grow: 1;
		margin-right: -20px;
		@include media ('>=desktop') {
			align-items: center;
			margin-right: -17px;
		}
		@include media ('>=widescreen') {
			margin-right: -20px;
		}

		>li {
			// font-size: 18px;
			font-size: 12px;
			line-height: 1;
			font-weight: 600;
			padding: 8px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include media ('>=480px') {
				// font-size: 31px;
				padding: 10px 9px;
				font-size: 14px;
			}
			@include media ('>=phone') {
				// font-size: 24px;
				padding: 9px 20px;
			}
			@include media ('>=desktop') {
				// font-size: 14px;
				display: block;
				padding: 5px 17px;
			}
			@include media ('>=widescreen') {
				// font-size: 24px;
				// font-size: 18px;
				padding: 5px 20px;
			}

			&.active {
				>a {
					color: $purple;
				}
			}

			.avatar {
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 100%;
				overflow: hidden;
				@include media ('>=480px') {
					width: 35px;
					height: 35px;
				}
				img {
					width: 100%;
					height: auto;
					vertical-align: top;
				}
			}

			&.search {
				border-right: 1px solid #e7e7e7;
				@include media ('>=480px') {
					font-size: 20px;
					margin-right: 8px;
					padding-right: 15px;
				}
				@include media ('>=tablet') {
					font-size: 29px;
				}
			}

			&.notification {
				// &:after {
				// 	content: '';
				// 	position: absolute;
				// 	bottom: 8px;
				// 	left: 0;
				// 	right: 0;
				// 	margin: auto;
				// 	width: 5px;
				// 	height: 5px;
				// 	border-radius: 100%;
				// 	background: $red;
				// 	@include media ('>=phone') {
				// 		bottom: 10px;
				// 	}
				// 	@include media ('>=desktop') {
				// 		bottom: 0;
				// 	}
				// }
				.dropdown-toggle {
					&:after {
						display: none;
					}
				}
				.dropdown-menu {
					left: 74px !important;
					width: 450px;
					padding: 0;
					margin-top: 12px;
					min-height: 100px;
					box-shadow: 0 0 5px rgba(0,0,0,.0975);
					border: none;
					border-radius: 3px;
					@include media ('>=tablet') {
						width: 500px;
						left: 74px !important;
					}
					
					&:before {
						content: '';
						position: absolute;
						top: -7px;
						right: 80px;
						width: 14px;
						height: 14px;
						background: $white;
						box-shadow: 0 0 5px 1px rgba(0,0,0,.0975);
						transform: rotate(45deg);
						z-index: -1;
					}
					.notification-list {
						@extend %listreset;
						background: $white;
						max-height: 362px;
						border-radius: 3px;
						overflow-y: auto;
						>li {
							position: relative;
							&:after {
								content: '';
								position: absolute;
								bottom: 0;
								left: 58px;
								right: 12px;
								height: 1px;
								background: #efefef;
							}
							&:last-child {
								&:after {
									display: none;
								}
							}
							a {
								display: flex;
								align-items: center;
								padding: 12px 16px 13px;
								color: #262626;
								.avatar {
									width: 34px;
									height: 34px;
									border-radius: 100%;
									overflow: hidden;
									flex-grow: 0;
									flex-shrink: 0;
									img {
										width: 100%;
										height: auto;
										vertical-align: top;
									}
								}
								.text {
									padding: 0 12px;
									@include font-size(14, 18);
									.username {
										font-weight: 600;
									}
									.time {
										color: #999;
										@include font-size(15, 18);
										margin-left: 5px;
									}
								}
							}
							.btn {
								@include font-size(14, 18);
								min-width: 61px;
								padding: 4px 9px 6px;
							}
							.preview {
								width: 40px;
								height: 40px;
								img {
									width: 100%;
									height: auto;
									vertical-align: top;
								}
							}
						}
					}
				}
			}

			>a {
				color: $gray-800;
			}

			.icon-user {
				font-size: 18px;
				@include media ('>=480px') {
					font-size: 31px;
				}
				@include media ('>=phone') {
					font-size: 27px;
				}
				@include media ('>=desktop') {
					// font-size: 27px;
				}
			}

			.icon-compass {
				font-size: 20px;
				@include media ('>=480px') {
					font-size: 31px;
				}
				@include media ('>=phone') {
					font-size: 29px;
				}
				@include media ('>=desktop') {
					font-size: 25px;
				}
				@include media ('>=widescreen') {
					font-size: 29px;
				}
			}

		}
	}
}