.content-text {
	padding-top: 50px;
	@include font-size(14, 24);

	.text-holder {
		&+.text-holder {
			padding-top: 20px;
		}
	}

	h2 {
		@include font-size(20, 24);
	}

	ul {
		@extend %listreset;
		padding-left: 20px;
		margin-bottom: 10px;
		li {
			position: relative;
			padding-left: 17px;
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 7px;
				height: 7px;
				background: $gray-800;
				border-radius: 100%;
			}
		}
	}
}